<div class="pagination">
    <div class="arrow_box arrow-prev" ng-click="loadPrev();"></div>
    <div class="arrow_box arrow-next" ng-click="loadNext();"></div>
</div>
<div class="gallery">
    <img class="loading-rows" ng-if="rows.length < 1" src="/assets/images/loading.svg"/>
    <div class="row" ng-repeat="row in rows" ng-class-even="'col-diamond-between'"
         ng-class-odd="'col-diamond'">
        <div class="col-lg-12 col-md-12">
            <ul class="diamonds">
                <li ng-repeat="item in row.items" class="diamond">
                    <div class="boxes" ng-repeat="img in item">
                        <a href="#" ng-click="showDetails(img);">
                            <div class="wrap">
                                <img lazy-img="{{img.images.normal}}" src="/assets/images/loading.svg"/>

                                <div class="content">
                                    <span class="poster">{{img._embedded.uploader.name}}</span>
                                    <small ng-if="$parent.$parent.$odd">{{img.caption}}</small>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>