<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <base href="/"/>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon"> -->
  <!-- Bootstrap from MaxCDN -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- FontAwesome from MaxCDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>"/>
  <% }); %>
  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script>
  <% }); %>
</head>

<body ng-controller="AppController">

  <nav class="navbar navbar-inverse" ng-init="isCollapsed = true">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->

    </div><!-- /.container-fluid -->
  </nav>

  <section class="container" autoscroll="false">
    <div class="row">
      <div class="col-md-12" ui-view="main"></div>
     </div>

    <hr>

    <footer class="row">
      <p>&copy; Futbol Manager</p>
    </footer>
  </section>

</body>
</html>
